*, *::before, *::after {
    box-sizing: border-box;
}

html {
    /* Set the root font size as a fallback if browsers do not support rem units */
    font-size: 16px;
    /* Set the root font size */
    font-size: 1rem;
    /* Enable smooth scrolling for the page */
    scroll-behavior: smooth;
}

html, body {
    /* Remove the default margin */
    margin: 0;
    /* Remove the default padding */
    padding: 0;
}

.container {
    /* Set the container to take the full width of the page or parent element */
    width: 100%;
    /* Set the maximum width of the container to avoid stretching on large screens */
    max-width: 1240px;
    /* Align the container centrally and horizontally */
    margin: 0 auto;
    /* Horizontal padding to provide spacing on smaller screen sizes */
    padding: 0 1rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation */
.navigation ul {
    /* Remove default padding applied to unordered list elements */
    padding: 0;
    /* Remove default bullets on the unordered list items */
    list-style-type: none;
    /* All list items become horizontal */
    display: flex;
    /* Spacing between each list item in the navigation */
    gap: 1rem;
}
/* / END: Navigation */
